.sider{

    background-color: #fff1b8;
    flex-basis: 160px;
    height: 92vh;
}

.wrapper{
    display: grid;
    grid-template-columns: 1fr;

}
.item{

    width: 160px;
    height: 50px;
}
.item a{
    height: 100%;
    display: block;


    background-color: #ffd666;

    color: black;
    line-height: 50px;
    text-align: center;
}
.item a:hover{
    background-color: #ffffff;
}