.wrapper {
    height: 100%;
    width: 100%;
}

.input {
    display: grid;
    grid-template-columns: 350px;
}

.inputItem {
    display: grid;
    grid-template-columns: 1fr 1fr 10px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 50px;

    margin-bottom: 20px;
}

.output {
    font-size: 30px;
}